<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}
  <body>
    <div class="container">
      <header class="site-header">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        {% if site.theme_config.show_description and site.description %}
          <p class="site-description">{{ site.description }}</p>
        {% endif %}
      </header>

      <main class="page-content">
        {{ content }}
      </main>

      <footer class="site-footer">
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>